/*Reset*/
*{
	margin: 0;
	padding: 0;	
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
}
/*Inicio scss Index*/
.body_index {
    background-image: url(../JPG/fondo_index.JPG);
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;
      
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  

.section_index{
    .titulo_section{
        position: absolute;        
        margin-top: 17px;
        margin-left:95px;
        font-family: 'Merriweather', serif; 
        font-size: 30px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        text-align: center;       
    }
    .text_section{
        border: 1px solid rgb(65, 64, 66);
        border-radius:10px;        
        font-family: 'Merriweather', serif; 
        font-size: 15px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        padding: 115px 100px 50px 100px;
        margin: 100px 980px 100px 50px;
        background-color:rgba(181, 178, 189, 0.8) ;
    }
}  
    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;        
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}
/*Fin scss Index*/

/*Inicio scss Que Hacemos*/
.body_quehacemos {
    background-color:rgb(255, 255, 255) ;
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;          
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  

.section_quehacemos{ 
    border: 1px solid rgb(65, 64, 66);
    border-radius:10px;  
    padding: 30px;
    background-color:rgba(181, 178, 189, 0.8) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 40px 40px 40px;
    .div_section_quehacemo{
        display: flex;
                      
    }
    .text_section{              
        font-family: 'Merriweather', serif; 
        font-size: 15px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        padding: 30px;
        margin-top: 30px;          
    }
    .logos_section_quehacemos{
        height: 100px;
        margin-top: 40px;
        margin-left: 30px;              
    }
    .div_section_img_quehacemos{
        display: flex;
        flex-direction: column;
    }
    .img_section_quehacemos{        
        border-radius: 5px;        
        margin-top: 40px;
        margin-right: 40px;                
        height: 500px;
        width: auto; 
    }
    .text_img{
        font-family: 'Merriweather', serif; 
        font-size: 13px;
    }
}  
    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;             
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}
/*Fin scss Quehacemos*/

/*Inicio scss Terapias*/
.body_terapias {
    background-color:rgb(255, 255, 255) ;
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;        	   
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  
.section_terapias{     
    border: 1px solid rgb(65, 64, 66);
    border-radius:10px;  
    padding: 20px;
    background-color:rgba(181, 178, 189, 0.8) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;  
    .titulo_section{             
        font-family: 'Merriweather', serif; 
        font-size: 25px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        text-align: center; 
    } 
    .text_section{              
        font-family: 'Merriweather', serif; 
        font-size: 15px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        padding: 15px;                  
    }
}

    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;    
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}
/*Fin scss Terapias*/

/*Inicio scss Quiropraxia*/
.body_quiropraxia {
    background-color:rgb(255, 255, 255) ;
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;
         	   
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  
.section_quiropraxia_intro{     
    display: flex;
    flex-direction: column;  
    justify-content: center;    
    border: 1px solid rgb(65, 64, 66);
    border-radius:10px;  
    padding: 20px;
    background-color:rgba(181, 178, 189, 0.8) ;
    margin: 40px; 
    
    .logo_section_quiropraxia{
        width: 500px;
        margin-left: 90px;
        margin-top: 70px;
        position: absolute;
    }
    .div_section_quiropraxia{
        display: flex;

        .text_section{              
            font-family: 'Merriweather', serif; 
            font-size: 15px;
            font-weight: bold;
            color: rgb(65, 64, 66);
            padding: 30px;
            margin-top: 30px;          
        }
    }    
}    
.section_quiropraxia_grid{     
    border: 1px solid rgb(65, 64, 66);
    border-radius:10px;  
    padding: 20px;
    background-color:rgba(181, 178, 189, 0.8) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;  
    .div_section_grid_quiropraxia{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr ;
        .img_section_quiropraxia{
            width: 100%;       
       }      
    }
    .img_section_quiropraxia:nth-child(1) {
        grid-column: 1/2; 
        grid-row: 1/2;
    }
    .img_section_quiropraxia:nth-child(2) {
        grid-column: 2/3; 
        grid-row: 1/2;
    }
    .img_section_quiropraxia:nth-child(3) {
        grid-column: 2/3; 
        grid-row: 2/3;
    }
    .img_section_quiropraxia:nth-child(4) {
        grid-column: 3/4; 
        grid-row: 1/2;
    }
    .img_section_quiropraxia:nth-child(5) {
        grid-column: 1/2; 
        grid-row: 2/3;
    }
    .img_section_quiropraxia:nth-child(6) {
        grid-column: 3/4; 
        grid-row: 2/3;
    }
}

    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;     
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}

/*Fin scss Quiropraxia*/

/*Inicio scss FA&Qs*/
.body_faqs {
    background-color:rgb(255, 255, 255) ;
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;        	   
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  
.section_faqs{     
    border: 1px solid rgb(65, 64, 66);
    border-radius:10px;  
    padding: 20px;
    background-color:rgba(181, 178, 189, 0.8) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px; 
    .tituloppal_section{
        font-family: 'Merriweather', serif; 
        font-size: 35px;
        padding: 15px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        text-align: center;
    }
    .titulo_section{             
        font-family: 'Merriweather', serif; 
        font-size: 25px;
        padding: 10px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        text-align: center; 
    } 
    .text_section{              
        font-family: 'Merriweather', serif; 
        font-size: 15px;
        font-weight: bold;
        color: rgb(65, 64, 66);
        padding: 15px;
        text-align: center;                   
    }
    .vid_section_faqs{
        margin-left: 420px;
    }
}

    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;    
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}

/*Fin scss FA&Qs*/

/*Inicio scss Contacto*/
.body_contacto {
    background-image: url(../JPG/fondo_contacto.jpg);
    height: auto;
    width: 100%;
    .header{
        background-color: rgba(181, 178, 189, 0.9) ;
      
    }
    .header_isologo{       
        width: 250px;
        height: auto;
        z-index: 100px;
    }
    .navbar-collapse{        
        justify-content: end;
    }
    .nav-item{
        margin: 15px;
    }
    .navbar-light .navbar-nav .nav-link{
        font-family: 'Merriweather', serif; 
        color: rgb(65, 64, 66) ;       
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(117, 111, 157);       
    }  

.section_contacto{
    .div_section_contacto{		
		display: flex;
		justify-content: space-evenly;
		background-color: rgba(181, 178, 189, 0.9);
		border: 1px solid rgb(65, 64, 66);
        border-radius:10px;  
		margin: 40px;        
		width: 40%;
		height: 600px;
	}
	.contenido_formulario{	
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 500px;
		margin: 100px auto;		
		padding: 10px;
	}
}  
    .footer{        
        background-color:rgba(181, 178, 189, 0.9) ;
        width: 100%;        
        display: flex;
        justify-content: space-evenly;	
	    align-items: center;             
        .txt_footer{
            margin: 15px 0px;
            font-family: 'Merriweather', serif; 
            color:rgb(78, 76, 81) ; 
            font-size: 13px;                         
        } 
        .instagram{
            display: flex;           
            width: 25px;
            height: 25px;
        }
        .facebook{
            display: flex;         
            width: 25px;
            height: 25px;
        }     
    }
}
/*Fin scss Contacto*/



/*Inicio Media Queries*/