/*Reset*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Inicio scss Index*/
.body_index {
  background-image: url(../JPG/fondo_index.JPG);
  height: auto;
  width: 100%;
}

.body_index .header {
  background-color: rgba(181, 178, 189, 0.9);
}

.body_index .header_isologo {
  width: 250px;
  height: auto;
  z-index: 100px;
}

.body_index .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.body_index .nav-item {
  margin: 15px;
}

.body_index .navbar-light .navbar-nav .nav-link {
  font-family: 'Merriweather', serif;
  color: #414042;
}

.body_index .navbar-light .navbar-nav .nav-link:hover {
  color: #756f9d;
}

.body_index .section_index .titulo_section {
  position: absolute;
  margin-top: 17px;
  margin-left: 95px;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: bold;
  color: #414042;
  text-align: center;
}

.body_index .section_index .text_section {
  border: 1px solid #414042;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
  color: #414042;
  padding: 115px 100px 50px 100px;
  margin: 100px 980px 100px 50px;
  background-color: rgba(181, 178, 189, 0.8);
}

.body_index .footer {
  background-color: rgba(181, 178, 189, 0.9);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_index .footer .txt_footer {
  margin: 15px 0px;
  font-family: 'Merriweather', serif;
  color: #4e4c51;
  font-size: 13px;
}

.body_index .footer .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.body_index .footer .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

/*Fin scss Index*/
/*Inicio scss Que Hacemos*/
.body_quehacemos {
  background-color: white;
  height: auto;
  width: 100%;
}

.body_quehacemos .header {
  background-color: rgba(181, 178, 189, 0.9);
}

.body_quehacemos .header_isologo {
  width: 250px;
  height: auto;
  z-index: 100px;
}

.body_quehacemos .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.body_quehacemos .nav-item {
  margin: 15px;
}

.body_quehacemos .navbar-light .navbar-nav .nav-link {
  font-family: 'Merriweather', serif;
  color: #414042;
}

.body_quehacemos .navbar-light .navbar-nav .nav-link:hover {
  color: #756f9d;
}

.body_quehacemos .section_quehacemos {
  border: 1px solid #414042;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(181, 178, 189, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 40px 40px 40px;
}

.body_quehacemos .section_quehacemos .div_section_quehacemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body_quehacemos .section_quehacemos .text_section {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
  color: #414042;
  padding: 30px;
  margin-top: 30px;
}

.body_quehacemos .section_quehacemos .logos_section_quehacemos {
  height: 100px;
  margin-top: 40px;
  margin-left: 30px;
}

.body_quehacemos .section_quehacemos .div_section_img_quehacemos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body_quehacemos .section_quehacemos .img_section_quehacemos {
  border-radius: 5px;
  margin-top: 40px;
  margin-right: 40px;
  height: 500px;
  width: auto;
}

.body_quehacemos .section_quehacemos .text_img {
  font-family: 'Merriweather', serif;
  font-size: 13px;
}

.body_quehacemos .footer {
  background-color: rgba(181, 178, 189, 0.9);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_quehacemos .footer .txt_footer {
  margin: 15px 0px;
  font-family: 'Merriweather', serif;
  color: #4e4c51;
  font-size: 13px;
}

.body_quehacemos .footer .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.body_quehacemos .footer .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

/*Fin scss Quehacemos*/
/*Inicio scss Terapias*/
.body_terapias {
  background-color: white;
  height: auto;
  width: 100%;
}

.body_terapias .header {
  background-color: rgba(181, 178, 189, 0.9);
}

.body_terapias .header_isologo {
  width: 250px;
  height: auto;
  z-index: 100px;
}

.body_terapias .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.body_terapias .nav-item {
  margin: 15px;
}

.body_terapias .navbar-light .navbar-nav .nav-link {
  font-family: 'Merriweather', serif;
  color: #414042;
}

.body_terapias .navbar-light .navbar-nav .nav-link:hover {
  color: #756f9d;
}

.body_terapias .section_terapias {
  border: 1px solid #414042;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(181, 178, 189, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px;
}

.body_terapias .section_terapias .titulo_section {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: bold;
  color: #414042;
  text-align: center;
}

.body_terapias .section_terapias .text_section {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
  color: #414042;
  padding: 30px;
}

.body_terapias .footer {
  background-color: rgba(181, 178, 189, 0.9);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_terapias .footer .txt_footer {
  margin: 15px 0px;
  font-family: 'Merriweather', serif;
  color: #4e4c51;
  font-size: 13px;
}

.body_terapias .footer .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.body_terapias .footer .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

/*Fin scss Terapias*/
/*Inicio scss Quiropraxia*/
.body_quiropraxia {
  background-color: white;
  height: auto;
  width: 100%;
}

.body_quiropraxia .header {
  background-color: rgba(181, 178, 189, 0.9);
}

.body_quiropraxia .header_isologo {
  width: 250px;
  height: auto;
  z-index: 100px;
}

.body_quiropraxia .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.body_quiropraxia .nav-item {
  margin: 15px;
}

.body_quiropraxia .navbar-light .navbar-nav .nav-link {
  font-family: 'Merriweather', serif;
  color: #414042;
}

.body_quiropraxia .navbar-light .navbar-nav .nav-link:hover {
  color: #756f9d;
}

.body_quiropraxia .section_quiropraxia_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #414042;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(181, 178, 189, 0.8);
  margin: 40px;
}

.body_quiropraxia .section_quiropraxia_intro .logo_section_quiropraxia {
  width: 500px;
  margin-left: 90px;
  margin-top: 70px;
  position: absolute;
}

.body_quiropraxia .section_quiropraxia_intro .div_section_quiropraxia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body_quiropraxia .section_quiropraxia_intro .div_section_quiropraxia .text_section {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
  color: #414042;
  padding: 30px;
  margin-top: 30px;
}

.body_quiropraxia .section_quiropraxia_grid {
  border: 1px solid #414042;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(181, 178, 189, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px;
}

.body_quiropraxia .section_quiropraxia_grid .div_section_grid_quiropraxia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.body_quiropraxia .section_quiropraxia_grid .div_section_grid_quiropraxia .img_section_quiropraxia {
  width: 100%;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(3) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.body_quiropraxia .section_quiropraxia_grid .img_section_quiropraxia:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.body_quiropraxia .footer {
  background-color: rgba(181, 178, 189, 0.9);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_quiropraxia .footer .txt_footer {
  margin: 15px 0px;
  font-family: 'Merriweather', serif;
  color: #4e4c51;
  font-size: 13px;
}

.body_quiropraxia .footer .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

.body_quiropraxia .footer .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 25px;
}

/*Fin scss Quiropraxia*/
/*Inicio Media Queries*/
/*# sourceMappingURL=main.css.map */